{% extends "base.html" %}
{% load static %}

{% block title %}Account{% endblock %}

{% block content %}
<main class="container">
    <section class="account-section">
        <h2>Welcome to Luxe</h2>
            <p>Create an account or log in to access more features.</p>

            <div class="account-options">
                <div class="account-box">
                    <h3>Sign Up</h3>
                    <p>Create an account to enjoy personalised features.</p>
                    <a href="{% url 'signup' %}">Go to Sign Up</a>
                </div>

                <div class="account-box">
                    <h3>Log In</h3>
                    <p>Access your account to manage your preferences.</p>
                    <a href="{% url 'login' %}">Go to Log In</a>
                </div>
            </div>
    </section>
</main>
{% endblock %}